[build-system]
requires = ["flit_core >=3.4.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hydromt_delft3dfm"
authors = [
	{ name = "Rinske Hutten", email = "rinske.hutten@deltares.nl" },
	{ name = "Xiaohan Li", email = "xiaohan.li@deltares.nl" },
	{ name = "Hélène Boisgontier", email = "helene.boisgontier@deltares.nl" },
	{ name = "Jelmer Veenstra", email = "jelmer.veenstra@deltares.nl" },
 	{ name = "Sebastian Hartgring", email = "sebastian.hartgring@deltares.nl" },
]
dependencies = [
    "hydromt>=0.10.0, <1", # TODO: move to hydromt>=1: https://github.com/Deltares/hydromt_delft3dfm/issues/137
	"geopandas>=0.10, !=1.0.0", # gpd 1.0.0 has sjoin bug: https://github.com/geopandas/geopandas/issues/352
	"numpy",
	"pandas>=2.0.0",
	"xarray",
	"hydrolib-core>=0.8.0",
	"xugrid>=0.9.0",
	"meshkernel>=4.3.0",
	"pyproj",
	"shapely>=2.0.0",
	"scipy",
	"universal_pathlib>=0.2", # provides path compatibility between different filesystems
	"pyflwdir>=0.5.4",
	"networkx",
]
requires-python = ">=3.9"
readme = "README.rst"
classifiers = [
	# https://pypi.python.org/pypi?%3Aaction=list_classifiers
	"Development Status :: 2 - Pre-Alpha",
	"Intended Audience :: Developers",
	"Intended Audience :: Science/Research",
	"Topic :: Scientific/Engineering :: Hydrology",
	"License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
	"Programming Language :: Python :: 3",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"Programming Language :: Python :: 3.12",
]
dynamic = ['version', 'description']

[project.optional-dependencies]
dev = [
    "black",       # linting
    "ruff",        # linting
    "pre-commit",  # linting
    "pip>=23.1.2", # needed for recursive dependencies
]
test = ["pytest>=2.7.3", "pytest-cov", "black"]
doc = [
	"nbsphinx",
	"sphinx",
	"sphinx_design",
	"pydata-sphinx-theme",
	"sphinx_autosummary_accessors",
]
examples = [
  "jupyterlab",      # run examples in jupyter notebook
  "notebook",        # jupyter integration
  "cartopy",		 # plot examples
]

[project.urls]
Documentation = "http://deltares.github.io/hydromt_delft3dfm/latest/"
Source = "https://github.com/Deltares/hydromt_delft3dfm"

[project.entry-points."hydromt.models"]
dflowfm = "hydromt_delft3dfm.dflowfm:DFlowFMModel"

[tool.black]
line-length = 88
target-version = ['py39']

[tool.ruff]
line-length = 88
# enable pydocstyle (E), pyflake (F) and isort (I), pytest-style (PT)
select = ["E", "F", "I", "PT", "D"]
ignore-init-module-imports = true
ignore = ["D211", "D213", "E741", "D105", "E712"]
exclude = ["examples", "tests", "docs"]

[tool.ruff.per-file-ignores]
"hydromt_delft3dfm/__init__.py" = ["E402", "F403"]
"hydromt_delft3dfm/workflows/__init__.py" = ["F403"]

[tool.ruff.pydocstyle]
convention = "numpy"

[tool.flit.sdist]
include = ["hydromt_delft3dfm"]
exclude = ["docs", "examples", "envs", "tests", ".github"]

[tool.pytest.ini_options]
addopts = "--durations=0"
